$black: #333;
$font-family-base: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
$font-size-base: 10px;
$font-weight-base: normal;
$line-height-base: 1.5rem;
$body-color: $black;
$body-bg: #ffffff;

$link-color: $black;
$link-decoration: none;