#buttons {
	width: 80%;
	margin: 0 auto;
}

.buttonsText {
	color: #333;
	font-size: 1.2em;
}

.buttonsList {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}

.buttonCircle {
	display: block;
	font-size: 2em;
	margin: .5em;
}

/* 色が反転するボタン */

.buttonFlip {
	border-radius: 50%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .3);
	display: block;
	height: 2em;
	text-align: center;
	transition: .3s;
	width: 2em;
}

.flip {
	color: #c05f5f;
	transition: .3s;
	vertical-align: bottom;
}

.buttonFlip:hover {
	background: #c05f5f;
	transition: .3s;
}

.buttonFlip:hover .flip {
	color: #fff;
	transition: .3s;
}

/* ふわふわ */

.buttonFlip2 {
	border: 1px solid #2C35B9;
	border-radius: 50%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .3);
	display: block;
	height: 2em;
	text-align: center;
	transition: .3s;
	width: 2em;
}

.flip2 {
	color: #2C35B9;
	transition: .3s;
	vertical-align: bottom;
}

.buttonFlip2:hover {
	background: #2C35B9;
	transition: .3s;
	animation: float .3s infinite alternate;
}

.buttonFlip2:hover .flip2 {
	color: #fff;
	transition: .3s;
}

@keyframes float {
	0% {
		margin-top: 0;
	}

	100% {
		margin-top: -.1em;
	}
}

/* 反転その2 */

.buttonRotate {
	border: 1px solid #ffe555;
	border-radius: 50%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .3);
	display: block;
	height: 2em;
	text-align: center;
	transition: .3s;
	width: 2em;
}

.rotate {
	color: #ffe555;
	transition: .3s;
	vertical-align: bottom;
}

.buttonRotate:hover {
	background: #ffe500;
	transition: .3s;
}

.buttonRotate:hover .rotate {
	color: #fff;
	transform: rotate(25deg);
	transition: .3s;
}

/*全体的に輝くボタン*/

.buttonShine {
	background: #ff3300;
	border: 1px solid #ff3300;
	border-radius: 50%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .3);
	display: block;
	height: 2em;
	overflow: hidden;
	position: relative;
	text-align: center;
	transition: .3s;
	width: 2em;
}

.shine {
	color: #fff;
	transition: .3s;
	vertical-align: bottom;
	z-index: 20;
}

.shine:after {
	background: #fff;
	content: '';
	height: 2.5em;
	left: -1.5em;
	opacity: .2;
	position: absolute;
	top: -.2em;
	transform: rotate(30deg);
	transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
	width: 1em;
}

.buttonShine:hover .shine:after {
	left: 120%;
	transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
}

/*縦に回転するボタン*/

.buttonXrotate {
	background: #00d9ea;
	border: 1px solid #00d9ea;
	border-radius: 50%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .3);
	display: block;
	height: 2em;
	text-align: center;
	width: 2em;
}

.Xrotate {
	color: #fff;
	vertical-align: bottom;
	transition: .3s;
}

.buttonXrotate:hover .Xrotate {
	transform: rotateX(360deg);
	transition: .3s;
}

/*稲妻がチカチカするボタン*/

.buttonDouble {
	background: #66d620;
	border-radius: 50%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .3);
	display: block;
	height: 2em;
	position: relative;
	text-align: center;
	width: 2em;
}

.double {
	color: #fff;
	opacity: 0;
	vertical-align: bottom;
}

.buttonDouble:hover .double {
	animation: flashing .2s infinite alternate;
}

@keyframes flashing {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* グラデーション */

.buttonGradation {
	background: linear-gradient(#F7D358 0%, #FF8000 100%);
	border-radius: 50%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .3);
	display: block;
	height: 2em;
	opacity: .6;
	position: relative;
	text-align: center;
	width: 2em;
	animation: hueRotater 4s infinite alternate;
}

.buttonGradation:hover {
	animation-play-state: paused;
}

.gradation {
	color: #fff;
	transition: .3s;
	vertical-align: bottom;
}

@keyframes hueRotater {
	0% {
		-webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
	}

	100% {
		-webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
	}
}

/* 光るボタン */

.buttonNeon {
	background: #0A122A;
	border-radius: 50%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .3);
	display: block;
	height: 2em;
	position: relative;
	text-align: center;
	width: 2em;
}

.neon {
	color: #fff;
	transition: .3s;
	vertical-align: bottom;
}

.buttonNeon:hover .neon {
	text-shadow: 2px 2px 10px rgba(255, 255, 255, .7), -2px -2px 10px rgba(255, 255, 255, .7);
}

/* 全体が回転するボタン */

.buttonYRotate {
	background: #E3CEF6;
	border-radius: 50%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .3);
	display: block;
	height: 2em;
	position: relative;
	text-align: center;
	transition: .6s;
	width: 2em;
}

.yRotate {
	color: #fff;
	transition: .3s;
	vertical-align: bottom;
}

.buttonYRotate:hover {
	transform: rotateY(360deg)
}
